In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\psarana\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\users\psarana\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

# Reading car data

In [6]:
df=spark.read.csv('Car_sales_details_p3.csv',header=True,inferSchema=True)

In [7]:
df.show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|                name|year|selling_price|km_driven|   State or Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- State or Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: integer (nullable = true)

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.columns

['Sales_ID',
 'name',
 'year',
 'selling_price',
 'km_driven',
 'State or Province',
 'City',
 'fuel',
 'seller_type',
 'transmission',
 'owner',
 'mileage',
 'engine',
 'max_power',
 'seats']

In [11]:
df.head(3)

[Row(Sales_ID=1, name='Maruti Swift Dzire VDI', year=2014, selling_price=450000, km_driven=145500, State or Province='District of Columbia', City='Washington', fuel='Diesel', seller_type='Individual', transmission='Manual', owner='First Owner', mileage='23.4 kmpl', engine='1248 CC', max_power='74 bhp', seats=5),
 Row(Sales_ID=2, name='Skoda Rapid 1.5 TDI Ambition', year=2014, selling_price=370000, km_driven=120000, State or Province='New York', City='New York City', fuel='Diesel', seller_type='Individual', transmission='Manual', owner='Second Owner', mileage='21.14 kmpl', engine='1498 CC', max_power='103.52 bhp', seats=5),
 Row(Sales_ID=3, name='Honda City 2017-2020 EXi', year=2006, selling_price=158000, km_driven=140000, State or Province='Illinois', City='Chicago', fuel='Petrol', seller_type='Individual', transmission='Manual', owner='Third Owner', mileage='17.7 kmpl', engine='1497 CC', max_power='78 bhp', seats=5)]

In [12]:
df.select(['name','selling_price']).show()

+--------------------+-------------+
|                name|selling_price|
+--------------------+-------------+
|Maruti Swift Dzir...|       450000|
|Skoda Rapid 1.5 T...|       370000|
|Honda City 2017-2...|       158000|
|Hyundai i20 Sport...|       225000|
|Maruti Swift VXI ...|       130000|
|Hyundai Xcent 1.2...|       440000|
|Maruti Wagon R LX...|        96000|
|  Maruti 800 DX BSII|        45000|
|    Toyota Etios VXD|       350000|
|Ford Figo Diesel ...|       200000|
|Renault Duster 11...|       500000|
|       Maruti Zen LX|        92000|
|Maruti Swift Dzir...|       280000|
|Maruti Wagon R LX...|       180000|
|Mahindra KUV 100 ...|       400000|
|Maruti Ertiga SHV...|       778000|
|Hyundai i20 1.4 C...|       500000|
|      Maruti Alto LX|       150000|
|Hyundai i20 2015-...|       680000|
|Mahindra Verito 1...|       174000|
+--------------------+-------------+
only showing top 20 rows

In [13]:
df.dtypes

[('Sales_ID', 'int'),
 ('name', 'string'),
 ('year', 'int'),
 ('selling_price', 'int'),
 ('km_driven', 'int'),
 ('State or Province', 'string'),
 ('City', 'string'),
 ('fuel', 'string'),
 ('seller_type', 'string'),
 ('transmission', 'string'),
 ('owner', 'string'),
 ('mileage', 'string'),
 ('engine', 'string'),
 ('max_power', 'string'),
 ('seats', 'int')]

In [14]:
df.describe()

DataFrame[summary: string, Sales_ID: string, name: string, year: string, selling_price: string, km_driven: string, State or Province: string, City: string, fuel: string, seller_type: string, transmission: string, owner: string, mileage: string, engine: string, max_power: string, seats: string]

In [15]:
df.describe().show()

+-------+------------------+--------------------+------------------+-----------------+------------------+-----------------+-------+------+----------------+------------+-----------+--------+-------+---------+------------------+
|summary|          Sales_ID|                name|              year|    selling_price|         km_driven|State or Province|   City|  fuel|     seller_type|transmission|      owner| mileage| engine|max_power|             seats|
+-------+------------------+--------------------+------------------+-----------------+------------------+-----------------+-------+------+----------------+------------+-----------+--------+-------+---------+------------------+
|  count|              7906|                7906|              7906|             7906|              7906|             7906|   7906|  7906|            7906|        7906|       7906|    7906|   7906|     7906|              7906|
|   mean|4070.1062484189224|                null|2013.9839362509485| 649813.720844928| 69188.65975208703|             null|   null|  null|            null|        null|       null|    null|   null|     null|5.4163926132051605|
| stddev| 2345.770158989306|                null|3.8636953387035105|813582.7483541336|56792.296343317634|             null|   null|  null|            null|        null|       null|    null|   null|     null|0.9592082121984635|
|    min|                 1|Ambassador CLASSI...|              1994|            29999|                 1|          Alabama|Abilene|   CNG|          Dealer|   Automatic|First Owner|0.0 kmpl|1047 CC|  100 bhp|                 2|
|    max|              8128|Volvo XC90 T8 Exc...|              2020|         10000000|           2360457|          Wyoming|   Yuma|Petrol|Trustmark Dealer|      Manual|Third Owner|9.5 kmpl| 999 CC| 99.6 bhp|                14|
+-------+------------------+--------------------+------------------+-----------------+------------------+-----------------+-------+------+----------------+------------+-----------+--------+-------+---------+------------------+

Creating new column "no_years" which helps us to find age of car so that our model can make more accurate predictions

In [16]:
df=df.withColumn('no_year',2021-df['year'])

In [17]:
df.show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
|Sales_ID|                name|year|selling_price|km_driven|   State or Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|     15|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     11|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|     14|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|      4|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|     14|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|     20|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|     10|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|      8|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|      7|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|     16|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     12|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|     12|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|      5|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|      5|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|      9|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|     19|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|      5|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     10|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
only showing top 20 rows

Now let's drop the "year" column because we have created a new column which is "no_year"

In [18]:
df=df.drop('year')

In [19]:
df.show()

+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
|Sales_ID|                name|selling_price|km_driven|   State or Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
|       1|Maruti Swift Dzir...|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|
|       2|Skoda Rapid 1.5 T...|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|
|       3|Honda City 2017-2...|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|     15|
|       4|Hyundai i20 Sport...|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     11|
|       5|Maruti Swift VXI ...|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|     14|
|       6|Hyundai Xcent 1.2...|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|      4|
|       7|Maruti Wagon R LX...|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|     14|
|       8|  Maruti 800 DX BSII|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|     20|
|       9|    Toyota Etios VXD|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|     10|
|      10|Ford Figo Diesel ...|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|      8|
|      11|Renault Duster 11...|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|      7|
|      12|       Maruti Zen LX|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|     16|
|      13|Maruti Swift Dzir...|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     12|
|      15|Maruti Wagon R LX...|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|     12|
|      16|Mahindra KUV 100 ...|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|      5|
|      17|Maruti Ertiga SHV...|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|      5|
|      18|Hyundai i20 1.4 C...|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|      9|
|      19|      Maruti Alto LX|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|     19|
|      20|Hyundai i20 2015-...|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|      5|
|      21|Mahindra Verito 1...|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     10|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
only showing top 20 rows

In [20]:
df=df.withColumnRenamed('State or Province','Province')

In [21]:
df.show()

+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
|Sales_ID|                name|selling_price|km_driven|            Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
|       1|Maruti Swift Dzir...|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|
|       2|Skoda Rapid 1.5 T...|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|
|       3|Honda City 2017-2...|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|     15|
|       4|Hyundai i20 Sport...|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     11|
|       5|Maruti Swift VXI ...|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|     14|
|       6|Hyundai Xcent 1.2...|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|      4|
|       7|Maruti Wagon R LX...|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|     14|
|       8|  Maruti 800 DX BSII|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|     20|
|       9|    Toyota Etios VXD|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|     10|
|      10|Ford Figo Diesel ...|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|      8|
|      11|Renault Duster 11...|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|      7|
|      12|       Maruti Zen LX|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|     16|
|      13|Maruti Swift Dzir...|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     12|
|      15|Maruti Wagon R LX...|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|     12|
|      16|Mahindra KUV 100 ...|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|      5|
|      17|Maruti Ertiga SHV...|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|      5|
|      18|Hyundai i20 1.4 C...|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|      9|
|      19|      Maruti Alto LX|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|     19|
|      20|Hyundai i20 2015-...|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|      5|
|      21|Mahindra Verito 1...|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     10|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+
only showing top 20 rows

In [22]:
df.describe().show()

+-------+------------------+--------------------+-----------------+------------------+--------+-------+------+----------------+------------+-----------+--------+-------+---------+------------------+-----------------+
|summary|          Sales_ID|                name|    selling_price|         km_driven|Province|   City|  fuel|     seller_type|transmission|      owner| mileage| engine|max_power|             seats|          no_year|
+-------+------------------+--------------------+-----------------+------------------+--------+-------+------+----------------+------------+-----------+--------+-------+---------+------------------+-----------------+
|  count|              7906|                7906|             7906|              7906|    7906|   7906|  7906|            7906|        7906|       7906|    7906|   7906|     7906|              7906|             7906|
|   mean|4070.1062484189224|                null| 649813.720844928| 69188.65975208703|    null|   null|  null|            null|        null|       null|    null|   null|     null|5.4163926132051605|7.016063749051353|
| stddev| 2345.770158989306|                null|813582.7483541336|56792.296343317634|    null|   null|  null|            null|        null|       null|    null|   null|     null|0.9592082121984635| 3.86369533870346|
|    min|                 1|Ambassador CLASSI...|            29999|                 1| Alabama|Abilene|   CNG|          Dealer|   Automatic|First Owner|0.0 kmpl|1047 CC|  100 bhp|                 2|                1|
|    max|              8128|Volvo XC90 T8 Exc...|         10000000|           2360457| Wyoming|   Yuma|Petrol|Trustmark Dealer|      Manual|Third Owner|9.5 kmpl| 999 CC| 99.6 bhp|                14|               27|
+-------+------------------+--------------------+-----------------+------------------+--------+-------+------+----------------+------------+-----------+--------+-------+---------+------------------+-----------------+

# Reading sales_status Data set

In [23]:
df2=spark.read.csv('sales_Status_p3.csv',header=True,inferSchema=True)

In [24]:
df2.show()

+--------+----+
|Sales_ID|sold|
+--------+----+
|       1|   Y|
|       2|   Y|
|       3|   Y|
|       4|   Y|
|       5|   Y|
|       6|   Y|
|       7|   Y|
|       8|   Y|
|       9|   Y|
|      10|   Y|
|      11|   Y|
|      12|   Y|
|      13|   Y|
|      15|   Y|
|      16|   Y|
|      17|   Y|
|      18|   Y|
|      19|   Y|
|      20|   Y|
|      21|   Y|
+--------+----+
only showing top 20 rows

In [25]:
df2.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- sold: string (nullable = true)

# Merging two data sets using "Inner Join"

In [26]:
df_final=df.join(df2,on=['Sales_ID'],how='inner')

In [27]:
df_final.show()

+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
|Sales_ID|                name|selling_price|km_driven|            Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|sold|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
|       1|Maruti Swift Dzir...|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|   Y|
|       2|Skoda Rapid 1.5 T...|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|   Y|
|       3|Honda City 2017-2...|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|     15|   Y|
|       4|Hyundai i20 Sport...|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     11|   Y|
|       5|Maruti Swift VXI ...|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|     14|   Y|
|       6|Hyundai Xcent 1.2...|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|      4|   Y|
|       7|Maruti Wagon R LX...|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|     14|   Y|
|       8|  Maruti 800 DX BSII|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|     20|   Y|
|       9|    Toyota Etios VXD|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|     10|   Y|
|      10|Ford Figo Diesel ...|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|      8|   Y|
|      11|Renault Duster 11...|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|      7|   Y|
|      12|       Maruti Zen LX|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|     16|   Y|
|      13|Maruti Swift Dzir...|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     12|   Y|
|      15|Maruti Wagon R LX...|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|     12|   Y|
|      16|Mahindra KUV 100 ...|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|      5|   Y|
|      17|Maruti Ertiga SHV...|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|      5|   Y|
|      18|Hyundai i20 1.4 C...|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|      9|   Y|
|      19|      Maruti Alto LX|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|     19|   Y|
|      20|Hyundai i20 2015-...|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|      5|   Y|
|      21|Mahindra Verito 1...|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     10|   Y|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
only showing top 20 rows

# checking for null values in our data set

In [28]:
from pyspark.sql.functions import isnan,when,count,col
df_final.select([count(when(col(c).isNull(),c)).alias(c) for c in df_final.columns]).show()

+--------+----+-------------+---------+--------+----+----+-----------+------------+-----+-------+------+---------+-----+-------+----+
|Sales_ID|name|selling_price|km_driven|Province|City|fuel|seller_type|transmission|owner|mileage|engine|max_power|seats|no_year|sold|
+--------+----+-------------+---------+--------+----+----+-----------+------------+-----+-------+------+---------+-----+-------+----+
|       0|   0|            0|        0|       0|   0|   0|          0|           0|    0|      0|     0|        0|    0|      0|   0|
+--------+----+-------------+---------+--------+----+----+-----------+------------+-----+-------+------+---------+-----+-------+----+

# Filter Operation

In [29]:
df_final.filter("fuel=='Diesel'").count()

4299

In [30]:
df_final.filter("fuel=='Diesel'").show()

+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
|Sales_ID|                name|selling_price|km_driven|            Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|sold|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
|       1|Maruti Swift Dzir...|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|   Y|
|       2|Skoda Rapid 1.5 T...|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|   Y|
|       4|Hyundai i20 Sport...|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     11|   Y|
|       9|    Toyota Etios VXD|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|     10|   Y|
|      10|Ford Figo Diesel ...|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|      8|   Y|
|      11|Renault Duster 11...|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|      7|   Y|
|      13|Maruti Swift Dzir...|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     12|   Y|
|      17|Maruti Ertiga SHV...|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|      5|   Y|
|      18|Hyundai i20 1.4 C...|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|      9|   Y|
|      20|Hyundai i20 2015-...|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|      5|   Y|
|      21|Mahindra Verito 1...|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     10|   Y|
|      22|Honda WR-V i-DTEC VX|       950000|    50000|            New York|New York City|Diesel| Individual|      Manual| First Owner| 25.5 kmpl|1498 CC|  98.6 bhp|    5|      4|   Y|
|      23|Maruti Swift Dzir...|       525000|    40000|               Texas|       Dallas|Diesel| Individual|      Manual| First Owner|26.59 kmpl|1248 CC|    74 bhp|    5|      6|   Y|
|      24|      Maruti SX4 ZDI|       600000|    72000|            New York|New York City|Diesel| Individual|      Manual| First Owner| 21.5 kmpl|1248 CC|  88.8 bhp|    5|      9|   Y|
|      28|Chevrolet Enjoy T...|       300000|    70000|       Massachusetts|       Boston|Diesel| Individual|      Manual| First Owner| 18.2 kmpl|1248 CC|  73.8 bhp|    7|      8|   Y|
|      31|Maruti Vitara Bre...|       670000|    70000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 24.3 kmpl|1248 CC|  88.5 bhp|    5|      4|   Y|
|      35|Maruti Vitara Bre...|       650000|    16200|          Washington|      Seattle|Diesel| Individual|      Manual| First Owner| 24.3 kmpl|1248 CC|  88.5 bhp|    5|      4|   Y|
|      40|Tata Safari DICOR...|       425000|    60000|      North Carolina|    Charlotte|Diesel| Individual|      Manual|Second Owner|13.93 kmpl|2179 CC|138.03 bhp|    7|     10|   Y|
|      46|Maruti Vitara Bre...|       819999|    32600|            Illinois|      Chicago|Diesel|     Dealer|      Manual| First Owner| 24.3 kmpl|1248 CC|  88.5 bhp|    5|      3|   Y|
|      48|Toyota Fortuner 4...|      1500000|    77000|          Washington|      Seattle|Diesel|     Dealer|      Manual| First Owner|12.55 kmpl|2982 CC| 168.5 bhp|    7|      7|   Y|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
only showing top 20 rows

In [31]:
df_final.filter("fuel=='Diesel'").select(['selling_price','seller_type','fuel']).show()

+-------------+-----------+------+
|selling_price|seller_type|  fuel|
+-------------+-----------+------+
|       450000| Individual|Diesel|
|       370000| Individual|Diesel|
|       225000| Individual|Diesel|
|       350000| Individual|Diesel|
|       200000| Individual|Diesel|
|       500000| Individual|Diesel|
|       280000| Individual|Diesel|
|       778000| Individual|Diesel|
|       500000| Individual|Diesel|
|       680000| Individual|Diesel|
|       174000| Individual|Diesel|
|       950000| Individual|Diesel|
|       525000| Individual|Diesel|
|       600000| Individual|Diesel|
|       300000| Individual|Diesel|
|       670000| Individual|Diesel|
|       650000| Individual|Diesel|
|       425000| Individual|Diesel|
|       819999|     Dealer|Diesel|
|      1500000|     Dealer|Diesel|
+-------------+-----------+------+
only showing top 20 rows

In [32]:
df_final.filter((df_final['km_driven']<50000) & (df_final['fuel']=='Diesel') & (df_final['selling_price']<100000)).count()

1

In [33]:
df_final.filter((df_final['km_driven']<50000) & 
                (df_final['fuel']=='Diesel') & 
                (df_final['selling_price']<100000)).select(['name','no_year','km_driven','fuel','selling_price','sold']).show()

+----------------+-------+---------+------+-------------+----+
|            name|no_year|km_driven|  fuel|selling_price|sold|
+----------------+-------+---------+------+-------------+----+
|Maruti Esteem DI|     18|    20000|Diesel|        70000|   N|
+----------------+-------+---------+------+-------------+----+

# Group by and Aggregate Functions

In [34]:
df_final.groupby('sold').sum().show()

+----+-------------+------------------+--------------+----------+------------+
|sold|sum(Sales_ID)|sum(selling_price)|sum(km_driven)|sum(seats)|sum(no_year)|
+----+-------------+------------------+--------------+----------+------------+
|   Y|      2062813|        1352743076|     137414880|     10866|       13994|
|   N|     30115447|        3784684201|     409590664|     31956|       41475|
+----+-------------+------------------+--------------+----------+------------+

In [35]:
df_final.groupby('sold').count().show()

+----+-----+
|sold|count|
+----+-----+
|   Y| 2000|
|   N| 5906|
+----+-----+

In [36]:
df_final.groupby('fuel').mean().show()

+------+------------------+------------------+------------------+-----------------+------------------+
|  fuel|     avg(Sales_ID)|avg(selling_price)|    avg(km_driven)|       avg(seats)|      avg(no_year)|
+------+------------------+------------------+------------------+-----------------+------------------+
|Diesel|  4143.47522679693|  802450.282623866| 83319.92021400326|5.728076296813212| 6.883228657827401|
|   CNG|            4183.5|317903.78846153844|65397.519230769234|4.961538461538462| 5.634615384615385|
|   LPG|3900.8285714285716| 210885.7142857143| 88856.68571428572|              5.0|10.485714285714286|
|Petrol| 3980.508238636364|     472665.203125| 51790.49772727273|5.046590909090909| 7.164204545454545|
+------+------------------+------------------+------------------+-----------------+------------------+

In [37]:
df_final.groupby('name').max().show()

+--------------------+-------------+------------------+--------------+----------+------------+
|                name|max(Sales_ID)|max(selling_price)|max(km_driven)|max(seats)|max(no_year)|
+--------------------+-------------+------------------+--------------+----------+------------+
|  Maruti 800 DX BSII|            8|             45000|          5000|         4|          20|
| Honda City 1.5 S MT|         7760|            675000|        110000|         5|          12|
|Mahindra Bolero 2...|         7651|            800000|        165000|         7|           9|
|Toyota Etios Liva GD|         7892|            451000|        146000|         5|           8|
|Tata Indica V2 Tu...|         4044|            275000|        120000|         5|           9|
|Mahindra KUV 100 ...|         7719|            400000|         51492|         6|           3|
|Mahindra Xylo D2 ...|         6331|            465000|        120000|         8|          11|
|Datsun GO Anniver...|          718|            385000|         30000|         5|           4|
|Mahindra Bolero S...|         5451|            380000|        239451|         7|          12|
|Toyota Innova 2.5...|         1193|            850000|        110000|         8|           8|
| Mahindra TUV 300 T4|         7320|            600000|        142000|         7|           5|
|    Datsun GO Plus A|         6553|            385000|         60000|         7|           6|
|Tata Indica V2 DL...|         7532|            200000|        172000|         5|          14|
|Maruti Ciaz 1.4 A...|         4474|            850000|         80000|         5|           4|
|Mahindra Scorpio ...|         2542|           1250000|         30000|         7|           5|
|Hyundai i20 1.4 Asta|         5513|            799000|         60000|         5|           4|
|Maruti Swift Lxi ...|         6955|            220000|        136000|         5|          14|
|  Maruti Zen Classic|         7766|             58000|         80000|         5|          23|
|      Maruti Zen LXI|         5894|            150000|        180000|         5|          24|
|Hyundai Verna 1.6...|         8094|            580000|        157000|         5|          10|
+--------------------+-------------+------------------+--------------+----------+------------+
only showing top 20 rows

In [38]:
df_final.agg({'selling_price':'min','km_driven':'max'}).show()

+------------------+--------------+
|min(selling_price)|max(km_driven)|
+------------------+--------------+
|             29999|       2360457|
+------------------+--------------+

# Converting "mileage" column from string to Numerical column

In [39]:
from pyspark.sql.functions import split

In [40]:
df_final=df_final.withColumn("AvgMileage",split(col("mileage")," ").getItem(0))

In [41]:
df_final.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- no_year: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- AvgMileage: string (nullable = true)

In [42]:
df_final.show(2)

+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+
|Sales_ID|                name|selling_price|km_driven|            Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|sold|AvgMileage|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+
|       1|Maruti Swift Dzir...|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|   Y|      23.4|
|       2|Skoda Rapid 1.5 T...|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|   Y|     21.14|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+
only showing top 2 rows

In [43]:
df_final=df_final.withColumn('AvgMileage',
                            df_final['AvgMileage'].cast('float'))

In [44]:
df_final.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- no_year: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- AvgMileage: float (nullable = true)

# Converting "engine","max_power" columns from string to numerical

In [45]:
df_final=df_final.withColumn("EngineCC",split(col("engine")," ").getItem(0)) \
            .withColumn('MaxPower',split(col('max_power'),' ').getItem(0))

In [46]:
df_final.show(2)

+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+--------+--------+
|Sales_ID|                name|selling_price|km_driven|            Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|sold|AvgMileage|EngineCC|MaxPower|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+--------+--------+
|       1|Maruti Swift Dzir...|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|   Y|      23.4|    1248|      74|
|       2|Skoda Rapid 1.5 T...|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|   Y|     21.14|    1498|  103.52|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+--------+--------+
only showing top 2 rows

In [47]:
df_final.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- no_year: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- AvgMileage: float (nullable = true)
 |-- EngineCC: string (nullable = true)
 |-- MaxPower: string (nullable = true)

In [48]:
df_final=df_final.withColumn('EngineCC',
                            df_final['EngineCC'].cast('int')) \
                .withColumn('MaxPower',df_final['MaxPower'].cast('float'))

In [49]:
df_final.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- no_year: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- AvgMileage: float (nullable = true)
 |-- EngineCC: integer (nullable = true)
 |-- MaxPower: float (nullable = true)

In [50]:
Data=df_final

In [51]:
Data.show()

+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+--------+--------+
|Sales_ID|                name|selling_price|km_driven|            Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|no_year|sold|AvgMileage|EngineCC|MaxPower|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+--------+--------+
|       1|Maruti Swift Dzir...|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      7|   Y|      23.4|    1248|    74.0|
|       2|Skoda Rapid 1.5 T...|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      7|   Y|     21.14|    1498|  103.52|
|       3|Honda City 2017-2...|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|     15|   Y|      17.7|    1497|    78.0|
|       4|Hyundai i20 Sport...|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     11|   Y|      23.0|    1396|    90.0|
|       5|Maruti Swift VXI ...|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|     14|   Y|      16.1|    1298|    88.2|
|       6|Hyundai Xcent 1.2...|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|      4|   Y|     20.14|    1197|   81.86|
|       7|Maruti Wagon R LX...|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|     14|   Y|      17.3|    1061|    57.5|
|       8|  Maruti 800 DX BSII|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|     20|   Y|      16.1|     796|    37.0|
|       9|    Toyota Etios VXD|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|     10|   Y|     23.59|    1364|    67.1|
|      10|Ford Figo Diesel ...|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|      8|   Y|      20.0|    1399|    68.1|
|      11|Renault Duster 11...|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|      7|   Y|     19.01|    1461|  108.45|
|      12|       Maruti Zen LX|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|     16|   Y|      17.3|     993|    60.0|
|      13|Maruti Swift Dzir...|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     12|   Y|      19.3|    1248|    73.9|
|      15|Maruti Wagon R LX...|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|     12|   Y|      18.9|    1061|    67.0|
|      16|Mahindra KUV 100 ...|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|      5|   Y|     18.15|    1198|    82.0|
|      17|Maruti Ertiga SHV...|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|      5|   Y|     24.52|    1248|    88.5|
|      18|Hyundai i20 1.4 C...|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|      9|   Y|      23.0|    1396|    90.0|
|      19|      Maruti Alto LX|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|     19|   Y|      19.7|     796|    46.3|
|      20|Hyundai i20 2015-...|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|      5|   Y|     22.54|    1396|   88.73|
|      21|Mahindra Verito 1...|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     10|   Y|      21.0|    1461|    64.1|
+--------+--------------------+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+----------+--------+--------+
only showing top 20 rows

In [52]:
df_final.columns

['Sales_ID',
 'name',
 'selling_price',
 'km_driven',
 'Province',
 'City',
 'fuel',
 'seller_type',
 'transmission',
 'owner',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'no_year',
 'sold',
 'AvgMileage',
 'EngineCC',
 'MaxPower']

# Removing umwanted columns

In [53]:
df_final=df_final.drop('Sales_ID','name','Province','City','mileage','engine','max_power','sold')

In [54]:
df_final.show(5)

+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+
|selling_price|km_driven|  fuel|seller_type|transmission|       owner|seats|no_year|AvgMileage|EngineCC|MaxPower|
+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+
|       450000|   145500|Diesel| Individual|      Manual| First Owner|    5|      7|      23.4|    1248|    74.0|
|       370000|   120000|Diesel| Individual|      Manual|Second Owner|    5|      7|     21.14|    1498|  103.52|
|       158000|   140000|Petrol| Individual|      Manual| Third Owner|    5|     15|      17.7|    1497|    78.0|
|       225000|   127000|Diesel| Individual|      Manual| First Owner|    5|     11|      23.0|    1396|    90.0|
|       130000|   120000|Petrol| Individual|      Manual| First Owner|    5|     14|      16.1|    1298|    88.2|
+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+
only showing top 5 rows

In [55]:
df_final.printSchema()

root
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- seats: integer (nullable = true)
 |-- no_year: integer (nullable = true)
 |-- AvgMileage: float (nullable = true)
 |-- EngineCC: integer (nullable = true)
 |-- MaxPower: float (nullable = true)

In [56]:
df_final.count()

7906

# One hot Encoding on categorical features using "StringIndexer"

In [57]:
#Handling categorical features
from pyspark.ml.feature import StringIndexer

In [58]:
indexer=StringIndexer(inputCol='fuel',outputCol='fuel_indexed')
df_final=indexer.fit(df_final).transform(df_final)

In [59]:
df_final.show()

+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+------------+
|selling_price|km_driven|  fuel|seller_type|transmission|       owner|seats|no_year|AvgMileage|EngineCC|MaxPower|fuel_indexed|
+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+------------+
|       450000|   145500|Diesel| Individual|      Manual| First Owner|    5|      7|      23.4|    1248|    74.0|         0.0|
|       370000|   120000|Diesel| Individual|      Manual|Second Owner|    5|      7|     21.14|    1498|  103.52|         0.0|
|       158000|   140000|Petrol| Individual|      Manual| Third Owner|    5|     15|      17.7|    1497|    78.0|         1.0|
|       225000|   127000|Diesel| Individual|      Manual| First Owner|    5|     11|      23.0|    1396|    90.0|         0.0|
|       130000|   120000|Petrol| Individual|      Manual| First Owner|    5|     14|      16.1|    1298|    88.2|         1.0|
|       440000|    45000|Petrol| Individual|      Manual| First Owner|    5|      4|     20.14|    1197|   81.86|         1.0|
|        96000|   175000|   LPG| Individual|      Manual| First Owner|    5|     14|      17.3|    1061|    57.5|         3.0|
|        45000|     5000|Petrol| Individual|      Manual|Second Owner|    4|     20|      16.1|     796|    37.0|         1.0|
|       350000|    90000|Diesel| Individual|      Manual| First Owner|    5|     10|     23.59|    1364|    67.1|         0.0|
|       200000|   169000|Diesel| Individual|      Manual| First Owner|    5|      8|      20.0|    1399|    68.1|         0.0|
|       500000|    68000|Diesel| Individual|      Manual|Second Owner|    5|      7|     19.01|    1461|  108.45|         0.0|
|        92000|   100000|Petrol| Individual|      Manual|Second Owner|    5|     16|      17.3|     993|    60.0|         1.0|
|       280000|   140000|Diesel| Individual|      Manual|Second Owner|    5|     12|      19.3|    1248|    73.9|         0.0|
|       180000|    90000|Petrol| Individual|      Manual|Second Owner|    5|     12|      18.9|    1061|    67.0|         1.0|
|       400000|    40000|Petrol| Individual|      Manual| First Owner|    5|      5|     18.15|    1198|    82.0|         1.0|
|       778000|    70000|Diesel| Individual|      Manual|Second Owner|    7|      5|     24.52|    1248|    88.5|         0.0|
|       500000|    53000|Diesel| Individual|      Manual|Second Owner|    5|      9|      23.0|    1396|    90.0|         0.0|
|       150000|    80000|Petrol| Individual|      Manual|Second Owner|    5|     19|      19.7|     796|    46.3|         1.0|
|       680000|   100000|Diesel| Individual|      Manual| First Owner|    5|      5|     22.54|    1396|   88.73|         0.0|
|       174000|   100000|Diesel| Individual|      Manual|Second Owner|    5|     10|      21.0|    1461|    64.1|         0.0|
+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+------------+
only showing top 20 rows

In [60]:
indexer=StringIndexer(inputCol='seller_type',outputCol='sellerType_indexed')
df_final=indexer.fit(df_final).transform(df_final)

In [61]:
indexer=StringIndexer(inputCol='transmission',outputCol='transmisson_indexed')
df_final=indexer.fit(df_final).transform(df_final)

In [62]:
indexer=StringIndexer(inputCol='owner',outputCol='owner_indexed')
df_final=indexer.fit(df_final).transform(df_final)

In [63]:
df_final.show()

+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+
|selling_price|km_driven|  fuel|seller_type|transmission|       owner|seats|no_year|AvgMileage|EngineCC|MaxPower|fuel_indexed|sellerType_indexed|transmisson_indexed|owner_indexed|
+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+
|       450000|   145500|Diesel| Individual|      Manual| First Owner|    5|      7|      23.4|    1248|    74.0|         0.0|               0.0|                0.0|          0.0|
|       370000|   120000|Diesel| Individual|      Manual|Second Owner|    5|      7|     21.14|    1498|  103.52|         0.0|               0.0|                0.0|          1.0|
|       158000|   140000|Petrol| Individual|      Manual| Third Owner|    5|     15|      17.7|    1497|    78.0|         1.0|               0.0|                0.0|          2.0|
|       225000|   127000|Diesel| Individual|      Manual| First Owner|    5|     11|      23.0|    1396|    90.0|         0.0|               0.0|                0.0|          0.0|
|       130000|   120000|Petrol| Individual|      Manual| First Owner|    5|     14|      16.1|    1298|    88.2|         1.0|               0.0|                0.0|          0.0|
|       440000|    45000|Petrol| Individual|      Manual| First Owner|    5|      4|     20.14|    1197|   81.86|         1.0|               0.0|                0.0|          0.0|
|        96000|   175000|   LPG| Individual|      Manual| First Owner|    5|     14|      17.3|    1061|    57.5|         3.0|               0.0|                0.0|          0.0|
|        45000|     5000|Petrol| Individual|      Manual|Second Owner|    4|     20|      16.1|     796|    37.0|         1.0|               0.0|                0.0|          1.0|
|       350000|    90000|Diesel| Individual|      Manual| First Owner|    5|     10|     23.59|    1364|    67.1|         0.0|               0.0|                0.0|          0.0|
|       200000|   169000|Diesel| Individual|      Manual| First Owner|    5|      8|      20.0|    1399|    68.1|         0.0|               0.0|                0.0|          0.0|
|       500000|    68000|Diesel| Individual|      Manual|Second Owner|    5|      7|     19.01|    1461|  108.45|         0.0|               0.0|                0.0|          1.0|
|        92000|   100000|Petrol| Individual|      Manual|Second Owner|    5|     16|      17.3|     993|    60.0|         1.0|               0.0|                0.0|          1.0|
|       280000|   140000|Diesel| Individual|      Manual|Second Owner|    5|     12|      19.3|    1248|    73.9|         0.0|               0.0|                0.0|          1.0|
|       180000|    90000|Petrol| Individual|      Manual|Second Owner|    5|     12|      18.9|    1061|    67.0|         1.0|               0.0|                0.0|          1.0|
|       400000|    40000|Petrol| Individual|      Manual| First Owner|    5|      5|     18.15|    1198|    82.0|         1.0|               0.0|                0.0|          0.0|
|       778000|    70000|Diesel| Individual|      Manual|Second Owner|    7|      5|     24.52|    1248|    88.5|         0.0|               0.0|                0.0|          1.0|
|       500000|    53000|Diesel| Individual|      Manual|Second Owner|    5|      9|      23.0|    1396|    90.0|         0.0|               0.0|                0.0|          1.0|
|       150000|    80000|Petrol| Individual|      Manual|Second Owner|    5|     19|      19.7|     796|    46.3|         1.0|               0.0|                0.0|          1.0|
|       680000|   100000|Diesel| Individual|      Manual| First Owner|    5|      5|     22.54|    1396|   88.73|         0.0|               0.0|                0.0|          0.0|
|       174000|   100000|Diesel| Individual|      Manual|Second Owner|    5|     10|      21.0|    1461|    64.1|         0.0|               0.0|                0.0|          1.0|
+-------------+---------+------+-----------+------------+------------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+
only showing top 20 rows

In [64]:
df_final.columns

['selling_price',
 'km_driven',
 'fuel',
 'seller_type',
 'transmission',
 'owner',
 'seats',
 'no_year',
 'AvgMileage',
 'EngineCC',
 'MaxPower',
 'fuel_indexed',
 'sellerType_indexed',
 'transmisson_indexed',
 'owner_indexed']

In [65]:
df_final=df_final.drop('fuel','seller_type','transmission','owner')

# Final Data set after cleaning the data

In [66]:
df_final.show()

+-------------+---------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+
|selling_price|km_driven|seats|no_year|AvgMileage|EngineCC|MaxPower|fuel_indexed|sellerType_indexed|transmisson_indexed|owner_indexed|
+-------------+---------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+
|       450000|   145500|    5|      7|      23.4|    1248|    74.0|         0.0|               0.0|                0.0|          0.0|
|       370000|   120000|    5|      7|     21.14|    1498|  103.52|         0.0|               0.0|                0.0|          1.0|
|       158000|   140000|    5|     15|      17.7|    1497|    78.0|         1.0|               0.0|                0.0|          2.0|
|       225000|   127000|    5|     11|      23.0|    1396|    90.0|         0.0|               0.0|                0.0|          0.0|
|       130000|   120000|    5|     14|      16.1|    1298|    88.2|         1.0|               0.0|                0.0|          0.0|
|       440000|    45000|    5|      4|     20.14|    1197|   81.86|         1.0|               0.0|                0.0|          0.0|
|        96000|   175000|    5|     14|      17.3|    1061|    57.5|         3.0|               0.0|                0.0|          0.0|
|        45000|     5000|    4|     20|      16.1|     796|    37.0|         1.0|               0.0|                0.0|          1.0|
|       350000|    90000|    5|     10|     23.59|    1364|    67.1|         0.0|               0.0|                0.0|          0.0|
|       200000|   169000|    5|      8|      20.0|    1399|    68.1|         0.0|               0.0|                0.0|          0.0|
|       500000|    68000|    5|      7|     19.01|    1461|  108.45|         0.0|               0.0|                0.0|          1.0|
|        92000|   100000|    5|     16|      17.3|     993|    60.0|         1.0|               0.0|                0.0|          1.0|
|       280000|   140000|    5|     12|      19.3|    1248|    73.9|         0.0|               0.0|                0.0|          1.0|
|       180000|    90000|    5|     12|      18.9|    1061|    67.0|         1.0|               0.0|                0.0|          1.0|
|       400000|    40000|    5|      5|     18.15|    1198|    82.0|         1.0|               0.0|                0.0|          0.0|
|       778000|    70000|    7|      5|     24.52|    1248|    88.5|         0.0|               0.0|                0.0|          1.0|
|       500000|    53000|    5|      9|      23.0|    1396|    90.0|         0.0|               0.0|                0.0|          1.0|
|       150000|    80000|    5|     19|      19.7|     796|    46.3|         1.0|               0.0|                0.0|          1.0|
|       680000|   100000|    5|      5|     22.54|    1396|   88.73|         0.0|               0.0|                0.0|          0.0|
|       174000|   100000|    5|     10|      21.0|    1461|    64.1|         0.0|               0.0|                0.0|          1.0|
+-------------+---------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+
only showing top 20 rows

In [67]:
df_final.printSchema()

root
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- no_year: integer (nullable = true)
 |-- AvgMileage: float (nullable = true)
 |-- EngineCC: integer (nullable = true)
 |-- MaxPower: float (nullable = true)
 |-- fuel_indexed: double (nullable = false)
 |-- sellerType_indexed: double (nullable = false)
 |-- transmisson_indexed: double (nullable = false)
 |-- owner_indexed: double (nullable = false)

In [68]:
df_final.columns

['selling_price',
 'km_driven',
 'seats',
 'no_year',
 'AvgMileage',
 'EngineCC',
 'MaxPower',
 'fuel_indexed',
 'sellerType_indexed',
 'transmisson_indexed',
 'owner_indexed']

# Building ML Model

In case of pyspark, to build a model we need to give independent features as one column and target feature as another column.

To create a vector for all the independent features we use "vectorAssembler"

# Creating vector for all independent features

In [69]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['km_driven','seats','no_year','AvgMileage','EngineCC','MaxPower','fuel_indexed','sellerType_indexed','transmisson_indexed','owner_indexed'],
                            outputCol="IndependentFeatures")

In [70]:
output=featureassembler.transform(df_final)

In [71]:
output.show()

+-------------+---------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+--------------------+
|selling_price|km_driven|seats|no_year|AvgMileage|EngineCC|MaxPower|fuel_indexed|sellerType_indexed|transmisson_indexed|owner_indexed| IndependentFeatures|
+-------------+---------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+--------------------+
|       450000|   145500|    5|      7|      23.4|    1248|    74.0|         0.0|               0.0|                0.0|          0.0|[145500.0,5.0,7.0...|
|       370000|   120000|    5|      7|     21.14|    1498|  103.52|         0.0|               0.0|                0.0|          1.0|[120000.0,5.0,7.0...|
|       158000|   140000|    5|     15|      17.7|    1497|    78.0|         1.0|               0.0|                0.0|          2.0|[140000.0,5.0,15....|
|       225000|   127000|    5|     11|      23.0|    1396|    90.0|         0.0|               0.0|                0.0|          0.0|[127000.0,5.0,11....|
|       130000|   120000|    5|     14|      16.1|    1298|    88.2|         1.0|               0.0|                0.0|          0.0|[120000.0,5.0,14....|
|       440000|    45000|    5|      4|     20.14|    1197|   81.86|         1.0|               0.0|                0.0|          0.0|[45000.0,5.0,4.0,...|
|        96000|   175000|    5|     14|      17.3|    1061|    57.5|         3.0|               0.0|                0.0|          0.0|[175000.0,5.0,14....|
|        45000|     5000|    4|     20|      16.1|     796|    37.0|         1.0|               0.0|                0.0|          1.0|[5000.0,4.0,20.0,...|
|       350000|    90000|    5|     10|     23.59|    1364|    67.1|         0.0|               0.0|                0.0|          0.0|[90000.0,5.0,10.0...|
|       200000|   169000|    5|      8|      20.0|    1399|    68.1|         0.0|               0.0|                0.0|          0.0|[169000.0,5.0,8.0...|
|       500000|    68000|    5|      7|     19.01|    1461|  108.45|         0.0|               0.0|                0.0|          1.0|[68000.0,5.0,7.0,...|
|        92000|   100000|    5|     16|      17.3|     993|    60.0|         1.0|               0.0|                0.0|          1.0|[100000.0,5.0,16....|
|       280000|   140000|    5|     12|      19.3|    1248|    73.9|         0.0|               0.0|                0.0|          1.0|[140000.0,5.0,12....|
|       180000|    90000|    5|     12|      18.9|    1061|    67.0|         1.0|               0.0|                0.0|          1.0|[90000.0,5.0,12.0...|
|       400000|    40000|    5|      5|     18.15|    1198|    82.0|         1.0|               0.0|                0.0|          0.0|[40000.0,5.0,5.0,...|
|       778000|    70000|    7|      5|     24.52|    1248|    88.5|         0.0|               0.0|                0.0|          1.0|[70000.0,7.0,5.0,...|
|       500000|    53000|    5|      9|      23.0|    1396|    90.0|         0.0|               0.0|                0.0|          1.0|[53000.0,5.0,9.0,...|
|       150000|    80000|    5|     19|      19.7|     796|    46.3|         1.0|               0.0|                0.0|          1.0|[80000.0,5.0,19.0...|
|       680000|   100000|    5|      5|     22.54|    1396|   88.73|         0.0|               0.0|                0.0|          0.0|[100000.0,5.0,5.0...|
|       174000|   100000|    5|     10|      21.0|    1461|    64.1|         0.0|               0.0|                0.0|          1.0|[100000.0,5.0,10....|
+-------------+---------+-----+-------+----------+--------+--------+------------+------------------+-------------------+-------------+--------------------+
only showing top 20 rows

In [72]:
output.select('IndependentFeatures').show(truncate=False)

+-------------------------------------------------------------------------------+
|IndependentFeatures                                                            |
+-------------------------------------------------------------------------------+
|[145500.0,5.0,7.0,23.399999618530273,1248.0,74.0,0.0,0.0,0.0,0.0]              |
|[120000.0,5.0,7.0,21.139999389648438,1498.0,103.5199966430664,0.0,0.0,0.0,1.0] |
|[140000.0,5.0,15.0,17.700000762939453,1497.0,78.0,1.0,0.0,0.0,2.0]             |
|[127000.0,5.0,11.0,23.0,1396.0,90.0,0.0,0.0,0.0,0.0]                           |
|[120000.0,5.0,14.0,16.100000381469727,1298.0,88.19999694824219,1.0,0.0,0.0,0.0]|
|[45000.0,5.0,4.0,20.139999389648438,1197.0,81.86000061035156,1.0,0.0,0.0,0.0]  |
|[175000.0,5.0,14.0,17.299999237060547,1061.0,57.5,3.0,0.0,0.0,0.0]             |
|[5000.0,4.0,20.0,16.100000381469727,796.0,37.0,1.0,0.0,0.0,1.0]                |
|[90000.0,5.0,10.0,23.59000015258789,1364.0,67.0999984741211,0.0,0.0,0.0,0.0]   |
|[169000.0,5.0,8.0,20.0,1399.0,68.0999984741211,0.0,0.0,0.0,0.0]                |
|[68000.0,5.0,7.0,19.010000228881836,1461.0,108.44999694824219,0.0,0.0,0.0,1.0] |
|[100000.0,5.0,16.0,17.299999237060547,993.0,60.0,1.0,0.0,0.0,1.0]              |
|[140000.0,5.0,12.0,19.299999237060547,1248.0,73.9000015258789,0.0,0.0,0.0,1.0] |
|[90000.0,5.0,12.0,18.899999618530273,1061.0,67.0,1.0,0.0,0.0,1.0]              |
|[40000.0,5.0,5.0,18.149999618530273,1198.0,82.0,1.0,0.0,0.0,0.0]               |
|[70000.0,7.0,5.0,24.520000457763672,1248.0,88.5,0.0,0.0,0.0,1.0]               |
|[53000.0,5.0,9.0,23.0,1396.0,90.0,0.0,0.0,0.0,1.0]                             |
|[80000.0,5.0,19.0,19.700000762939453,796.0,46.29999923706055,1.0,0.0,0.0,1.0]  |
|[100000.0,5.0,5.0,22.540000915527344,1396.0,88.7300033569336,0.0,0.0,0.0,0.0]  |
|[100000.0,5.0,10.0,21.0,1461.0,64.0999984741211,0.0,0.0,0.0,1.0]               |
+-------------------------------------------------------------------------------+
only showing top 20 rows

In [73]:
final_data=output.select('IndependentFeatures','selling_price')

Final data set that we use for model building which has only two columns,one with independent features and other with target column

In [74]:
final_data.show(truncate=False)

+-------------------------------------------------------------------------------+-------------+
|IndependentFeatures                                                            |selling_price|
+-------------------------------------------------------------------------------+-------------+
|[145500.0,5.0,7.0,23.399999618530273,1248.0,74.0,0.0,0.0,0.0,0.0]              |450000       |
|[120000.0,5.0,7.0,21.139999389648438,1498.0,103.5199966430664,0.0,0.0,0.0,1.0] |370000       |
|[140000.0,5.0,15.0,17.700000762939453,1497.0,78.0,1.0,0.0,0.0,2.0]             |158000       |
|[127000.0,5.0,11.0,23.0,1396.0,90.0,0.0,0.0,0.0,0.0]                           |225000       |
|[120000.0,5.0,14.0,16.100000381469727,1298.0,88.19999694824219,1.0,0.0,0.0,0.0]|130000       |
|[45000.0,5.0,4.0,20.139999389648438,1197.0,81.86000061035156,1.0,0.0,0.0,0.0]  |440000       |
|[175000.0,5.0,14.0,17.299999237060547,1061.0,57.5,3.0,0.0,0.0,0.0]             |96000        |
|[5000.0,4.0,20.0,16.100000381469727,796.0,37.0,1.0,0.0,0.0,1.0]                |45000        |
|[90000.0,5.0,10.0,23.59000015258789,1364.0,67.0999984741211,0.0,0.0,0.0,0.0]   |350000       |
|[169000.0,5.0,8.0,20.0,1399.0,68.0999984741211,0.0,0.0,0.0,0.0]                |200000       |
|[68000.0,5.0,7.0,19.010000228881836,1461.0,108.44999694824219,0.0,0.0,0.0,1.0] |500000       |
|[100000.0,5.0,16.0,17.299999237060547,993.0,60.0,1.0,0.0,0.0,1.0]              |92000        |
|[140000.0,5.0,12.0,19.299999237060547,1248.0,73.9000015258789,0.0,0.0,0.0,1.0] |280000       |
|[90000.0,5.0,12.0,18.899999618530273,1061.0,67.0,1.0,0.0,0.0,1.0]              |180000       |
|[40000.0,5.0,5.0,18.149999618530273,1198.0,82.0,1.0,0.0,0.0,0.0]               |400000       |
|[70000.0,7.0,5.0,24.520000457763672,1248.0,88.5,0.0,0.0,0.0,1.0]               |778000       |
|[53000.0,5.0,9.0,23.0,1396.0,90.0,0.0,0.0,0.0,1.0]                             |500000       |
|[80000.0,5.0,19.0,19.700000762939453,796.0,46.29999923706055,1.0,0.0,0.0,1.0]  |150000       |
|[100000.0,5.0,5.0,22.540000915527344,1396.0,88.7300033569336,0.0,0.0,0.0,0.0]  |680000       |
|[100000.0,5.0,10.0,21.0,1461.0,64.0999984741211,0.0,0.0,0.0,1.0]               |174000       |
+-------------------------------------------------------------------------------+-------------+
only showing top 20 rows

In task 2.4, we got "Random forest Regressor" as the effective model but in pyspark there were some versoning errors for regression model so we have built an ML model using "Linear Regression" as this is our next best model.

# ML Model using LinearRegression

In [75]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=final_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='IndependentFeatures',
                                labelCol='selling_price')
regressor=regressor.fit(train_data)

In [76]:
pred_results=regressor.evaluate(test_data)

In [77]:
pred_results.predictions.show(truncate=False)

C:\Users\psarana\Anaconda3\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+-----------------------------------------------------------------------------+-------------+------------------+
|IndependentFeatures                                                          |selling_price|prediction        |
+-----------------------------------------------------------------------------+-------------+------------------+
|(10,[0,1,2,4,5],[5000.0,2.0,1.0,2523.0,70.0])                                |679000       |482082.11969639175|
|[1000.0,5.0,3.0,18.0,1497.0,117.5999984741211,1.0,0.0,1.0,0.0]               |1085000      |1583631.6470594308|
|[1300.0,5.0,2.0,22.5,999.0,67.0,1.0,0.0,0.0,0.0]                             |325000       |476699.37506415404|
|[1303.0,5.0,2.0,17.799999237060547,1198.0,86.69999694824219,1.0,1.0,0.0,0.0] |690000       |781415.513949236  |
|[1500.0,5.0,2.0,18.200000762939453,1199.0,88.69999694824219,1.0,0.0,1.0,0.0] |840000       |1210114.998840874 |
|[1620.0,6.0,2.0,19.010000228881836,1462.0,103.19999694824219,1.0,0.0,0.0,0.0]|1040000      |913421.4660250387 |
|[2000.0,5.0,3.0,16.799999237060547,1984.0,150.0,0.0,1.0,1.0,0.0]             |2475000      |2166576.6174874716|
|[2000.0,5.0,3.0,16.799999237060547,1984.0,150.0,0.0,1.0,1.0,0.0]             |2475000      |2166576.6174874716|
|[2000.0,5.0,3.0,16.799999237060547,1984.0,150.0,0.0,1.0,1.0,0.0]             |2475000      |2166576.6174874716|
|[2000.0,5.0,3.0,16.799999237060547,1984.0,150.0,0.0,1.0,1.0,0.0]             |2475000      |2166576.6174874716|
|[2000.0,5.0,3.0,16.799999237060547,1984.0,150.0,0.0,1.0,1.0,0.0]             |2475000      |2166576.6174874716|
|[2118.0,5.0,5.0,19.399999618530273,1198.0,86.80000305175781,1.0,1.0,0.0,0.0] |475000       |708487.6344409793 |
|[3000.0,5.0,2.0,21.010000228881836,1197.0,81.80000305175781,1.0,0.0,0.0,0.0] |760000       |666428.6314226253 |
|[3177.0,5.0,2.0,18.5,1194.0,94.93000030517578,1.0,1.0,0.0,0.0]               |700000       |898666.3710595126 |
|[4295.0,5.0,3.0,17.100000381469727,1496.0,105.5,1.0,2.0,0.0,0.0]             |1000000      |1101729.7681334438|
|[4500.0,5.0,2.0,19.5,1199.0,88.76000213623047,1.0,0.0,0.0,0.0]               |700000       |737031.7117885061 |
|[5000.0,5.0,1.0,17.799999237060547,1493.0,113.4000015258789,0.0,1.0,1.0,0.0] |1900000      |1716385.4942198135|
|[5000.0,5.0,1.0,21.209999084472656,1197.0,81.80000305175781,1.0,0.0,0.0,0.0] |578000       |698953.1161744202 |
|[5000.0,5.0,2.0,19.5,1199.0,88.76000213623047,1.0,0.0,0.0,0.0]               |670000       |736512.1194546652 |
|[5000.0,5.0,2.0,20.299999237060547,1086.0,68.0,1.0,0.0,0.0,0.0]              |500000       |462214.7411774051 |
+-----------------------------------------------------------------------------+-------------+------------------+
only showing top 20 rows

In above table we see that actual and predicted values were some how close but not exact.Now let us check score for our model

In [78]:
pred_results.r2

0.6598071585095119

In [79]:
pred_results.meanAbsoluteError

277466.1784730519

In [80]:
pred_results.meanSquaredError

221051415234.77487